<% include ./partials/header %>
  
  <% var counter = 0 %>
  <% const months = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];  %>
  <% if(payments.length > 0) { %> 
    
    <h5 class="display-4 text-center mb-4">List of Payments</h5>
    <table class="table table-striped table-hover mt-2">
      <thead>
        <tr>
            <th>#</th> 
            <th>Patient Name</th>
            <th>Date</th>
            <th>Total Payment</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <% payments.forEach(payment => { %>
        <tr>
            <th><%= (counter+1) %></th>
            <td><a target="_blank" href="/patient/search/<%= payment.patient._id %>" class="text-primary"><%= payment.patient.name %></a></td>
            <td><%= months[payment.month - 1] %> <%= payment.day %> <%= payment.year %></td>
            <td>&#8369; <%= payment.grand_total %></td>
            <td><a target="_blank" href="/payment/search-by-payment/<%= payment._id %>" class="btn btn-secondary">More Info</a></td>
            
        </tr>
        <% counter++ %>
      <% }) %>
    </tbody>
  </table>

  <% } else {%>
    <h4 class="display-1 text-center">No payment listed</h4>
  <% } %>

<% include ./partials/footer %>
